<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/app.js" async></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <title>メイン/体重管理</title>
</head>
<body class="body mainPageBody">
  <%- include('header'); %>
  <h1>メイン</h1>
  <form class="inputForm" method="POST" action="/">
    <div class="flex">
      <div class="itemName">日付</div>
      <input type="date" class="input" id="inputDate" name="inputDate" />
    </div>
    <div class="flex">
      <div class="itemName">体重</div>
      <input type="number" step="0.01" class="input" name="currentWeight" value="<%= currentWeight %>"/>
      <div class="unit">kg</div>
    </div>
    <input type="submit" class="submit" value="更新" />
  </form>
  <div class="referenceArea">
    <div class="flex displayNone">
      <div class="itemName">目標体重</div>
      <div class="reference"><%= userData.target_weight %></div>
      <div class="unit">kg</div>
    </div>
    <div class="flex toTarget">
      <div class="itemName">目標体重まで&emsp;あと</div>
      <div class="reference"><%= weightDifference.toFixed(2) %></div>
      <div class="unit">kg</div>
    </div>
    <!-- 他の項目も同様に追加 -->
  </div>
  <%- include('footer'); %>
  <script src="/js/inputDate.js" async></script>
  <script src="/js/lineGraph.js" async></script>
</body>
</html>
